* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;

  .navigation {
    min-width: 300px;
    padding: 3rem 1.5rem;
  }

  .phb {
    padding: 3rem;

    // .content {
    //   max-width: 800px;
    // }
  }
}
