<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.urlprefix }}/assets/main.css" />
  </head>
  <body>
    {{ site.urlprefix }}
    <div class="container">
      <nav class="navigation">
        <ul>
          <li>
            <a href="{{ site.urlprefix }}/sections/VolosEnchiridion/cover.html"
              >Volo's Waterdeep Enchiridion</a
            >
            <ul>
              <li>
                <a
                  href="{{
                    site.urlprefix
                  }}/sections/VolosEnchiridion/welcome.html"
                  >Welcome!</a
                >
              </li>
              <li>
                <a
                  href="{{
                    site.urlprefix
                  }}/sections/VolosEnchiridion/entering-waterdeep.html"
                  >Entering Waterdeep</a
                >
                <ul>
                  <li>
                    <a
                      href="{{
                        site.urlprefix
                      }}/sections/VolosEnchiridion/entering-waterdeep/your-arrival-in-the-city.html"
                      >Your Arrival in the City</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a
                  href="{{
                    site.urlprefix
                  }}/sections/VolosEnchiridion/a-long-history.html"
                  >A Long History (in Brief)</a
                >
              </li>
              <li>
                <a
                  href="{{
                    site.urlprefix
                  }}/sections/VolosEnchiridion/surviving-in-the-city.html"
                  >Surviving in the City</a
                >
                <ul>
                  <li>
                    <a
                      href="{{
                        site.urlprefix
                      }}/sections/VolosEnchiridion/surviving-in-the-city/the-code-legal.html"
                      >The Code Legal</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{
                        site.urlprefix
                      }}/sections/VolosEnchiridion/surviving-in-the-city/arms-armor-combat.html"
                      >Arms, Armor, and Combat</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{
                        site.urlprefix
                      }}/sections/VolosEnchiridion/surviving-in-the-city/city-watch.html"
                      >City Watch</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{
                        site.urlprefix
                      }}/sections/VolosEnchiridion/surviving-in-the-city/watchful-order-magists-protectors.html"
                      >The Watchful Order of Magists and Protectors</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{
                        site.urlprefix
                      }}/sections/VolosEnchiridion/surviving-in-the-city/coinage.html"
                      >Coinage</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{
                        site.urlprefix
                      }}/sections/VolosEnchiridion/surviving-in-the-city/taxes-fees.html"
                      >Taxes and Fees</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{
                        site.urlprefix
                      }}/sections/VolosEnchiridion/surviving-in-the-city/getting-about.html"
                      >Getting About</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{
                        site.urlprefix
                      }}/sections/VolosEnchiridion/surviving-in-the-city/nobility.html"
                      >Nobility</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{
                        site.urlprefix
                      }}/sections/VolosEnchiridion/surviving-in-the-city/guild-law.html"
                      >Guilds and Guild Law</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{
                        site.urlprefix
                      }}/sections/VolosEnchiridion/wards-of-waterdeep.html"
                      >The Wards of Waterdeep</a
                    >
                    <ul>
                      <li>
                        <a
                          href="{{
                            site.urlprefix
                          }}/sections/VolosEnchiridion/wards-of-waterdeep/speak-like-native.html"
                          >Speak Like a Native</a
                        >
                      </li>
                      <li>
                        <a
                          href="{{
                            site.urlprefix
                          }}/sections/VolosEnchiridion/wards-of-waterdeep/sea-ward.html"
                          >Sea Ward</a
                        >
                      </li>
                      <li>
                        <a
                          href="{{
                            site.urlprefix
                          }}/sections/VolosEnchiridion/wards-of-waterdeep/north-ward.html"
                          >North Ward</a
                        >
                      </li>
                      <li>
                        <a
                          href="{{
                            site.urlprefix
                          }}/sections/VolosEnchiridion/wards-of-waterdeep/castle-ward.html"
                          >Castle Ward</a
                        >
                      </li>
                      <li>
                        <a
                          href="{{
                            site.urlprefix
                          }}/sections/VolosEnchiridion/wards-of-waterdeep/trades-ward.html"
                          >Trades Ward</a
                        >
                      </li>
                      <li>
                        <a
                          href="{{
                            site.urlprefix
                          }}/sections/VolosEnchiridion/wards-of-waterdeep/southern-ward.html"
                          >Southern Ward</a
                        >
                      </li>
                      <li>
                        <a
                          href="{{
                            site.urlprefix
                          }}/sections/VolosEnchiridion/wards-of-waterdeep/dock-ward.html"
                          >Dock Ward</a
                        >
                      </li>
                      <li>
                        <a
                          href="{{
                            site.urlprefix
                          }}/sections/VolosEnchiridion/wards-of-waterdeep/city-dead.html"
                          >City of the Dead</a
                        >
                      </li>
                      <li>
                        <a
                          href="{{
                            site.urlprefix
                          }}/sections/VolosEnchiridion/wards-of-waterdeep/outside-city-proper.html"
                          >Outside the City Proper</a
                        >
                      </li>
                      <li>
                        <a
                          href="{{
                            site.urlprefix
                          }}/sections/VolosEnchiridion/wards-of-waterdeep/field-ward.html"
                          >Field Ward</a
                        >
                      </li>
                      <li>
                        <a
                          href="{{
                            site.urlprefix
                          }}/sections/VolosEnchiridion/wards-of-waterdeep/wonders-waymoot.html"
                          >The Wonders of the Waymoot</a
                        >
                      </li>
                      <li>
                        <a
                          href="{{
                            site.urlprefix
                          }}/sections/VolosEnchiridion/wards-of-waterdeep/undercliff.html"
                          >Undercliff</a
                        >
                      </li>
                      <li>
                        <a
                          href="{{
                            site.urlprefix
                          }}/sections/VolosEnchiridion/wards-of-waterdeep/undermountain.html"
                          >Undermountain</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a
                  href="{{
                    site.urlprefix
                  }}/sections/VolosEnchiridion/citys-splendors.html"
                  >The City's Splendors</a
                >
                <ul>
                  <li>
                    <a
                      href="{{
                        site.urlprefix
                      }}/sections/VolosEnchiridion/citys-splendors/amenities.html"
                      >Amenities</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{
                        site.urlprefix
                      }}/sections/VolosEnchiridion/citys-splendors/griffon-cavalry.html"
                      >The Griffon Cavalry</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{
                        site.urlprefix
                      }}/sections/VolosEnchiridion/citys-splendors/walking-statues.html"
                      >The Walking Statues</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{
                        site.urlprefix
                      }}/sections/VolosEnchiridion/citys-splendors/city-celebrations.html"
                      >City Celebrations</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="phb">
        {{ content }}
      </div>
    </div>
  </body>
</html>
